<div id="<%= dom_id movie %>">
  <p>
    <strong>Movie title:</strong>
    <%= movie.movie_title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= movie.text %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= movie.rating %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= movie.category_id %>
  </p>

</div>
