<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
<%= link_to "New movie", new_movie_path %>


<form action="">
  <label>Choose a category:</label>
  <select name="category[id]">
    <% @categories.each do |category| %>
      <option value="<%=category.id%>"> <%=category.category_name%></option>
    <%end%>
  </select>
  <button type="submit" formaction="/reports/filtr_by_category">Filtr by category</button>
</form>

<ol>
  <% @movies.each do |movie| %>
  <li>
    <strong>Title:</strong> <%= movie.movie_title%>,<br>
     <strong>Text:</strong> <%= movie.text%>,<br>
     <strong>Category:</strong> <%= movie.category_name%>,<br>
     <strong>Rating:</strong> <%= movie.rating%><br>
     
     <%= link_to "Show this movie", movie_path(movie.id)%>
     <hr>
     </li>
  <% end %>
  </ol>
</div>





