<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <%= link_to "New movie", new_movie_path %>

<!--Block for Filter by category-->
  <form action="">
    <label>Choose a category:</label>
      <select name="category[id]">
        <% @categories.each do |category| %>
          <option value="<%=category.id%>"> <%=category.category_name%></option>
        <%end%>
      </select>
    <button type="submit" class="btn btn-success" formaction="/reports/filtr_by_category">Filter by category</button>
  </form>
<!--end block for Filter by category-->

<!--Block for iterate each movie on page-->
  <ol>
    <% @movies.each do |movie| %>
      <li>
        <strong>Title:</strong> <%= movie.movie_title%>,<br>
        <strong>Text:</strong> <%= movie.text%>,<br>
        <strong>Category:</strong> <%= movie.category_name%>,<br>
        <!--Block for choosing ratig and sent do DB-->
        <form>
         <input type="hidden" name="user_rating[movie_id]" value="<%=movie.id%>">
         <label>Choose a rating:</label>
          <select name="user_rating[rating]">
            <% for value_rating in 1..10 do %>
            <option value="<%=value_rating%>"> <%=value_rating%></option>
            <%end%>
          </select>
          <button type="submit" class="btn btn-info" formaction="ratings/create">Send a rating</button>
        </form>
        <!--end block for choosing ratig and sent do DB-->
        <%= link_to "Show this movie", movie_path(movie.id)%>
        <hr>
      </li>
    <% end %>
  </ol>
  <!--end block for iterate each movie on page-->


  <!--Pagination-->

  <%= will_paginate @movies%>

<%# renderer: BootstrapPagination::Rails %>

<!--Bootstrap online-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</div>





