<h1>Reports#filtr_by_category</h1>
<p>Find me in app/views/reports/filtr_by_category.html.erb</p>


<div>
<ol>
  <% @movies.each do |movie| %>
  <li>
    <strong>Title:</strong> <%= movie.movie_title%>,<br>
     <strong>Text:</strong> <%= movie.text%>,<br>
     <strong>Category:</strong> <%= movie.category_name%>,<br>
     <strong>Rating:</strong> <%= movie.rating%><br>
     
     <%= link_to "Show this movie", movie_path(movie.id)%>
     <hr>
     </li>
  <% end %>
  </ol>

  <%= link_to "Back to movies", movies_path %>
</div>